body{
    background-color:rebeccapurple;
    font: 13pt Arial;
}
main{
    background-color: white;
    width: 500px;
    padding: 20px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.529);
}
h1{
    color: darkgoldenrod;
}
h2{
    color:darkmagenta;
}
img.side{
    float: right;
}
a{
    text-decoration: none;
    font-weight: bold;
    color: darkgoldenrod;
}